    <h3 class="d-flex justify-content-center">New Customer</h3>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingPassword" value="{{this.CUSTOMER_ID}}" placeholder="customer ID" name="customer_id"
            required />
        <label for="floatingPassword">Customer ID</label>
    </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.FIRST_NAME}}" placeholder="First Name" name="first_name"
            required />
        <label for="floatingInput">First Name</label>
    </div>


    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingPassword" value="{{this.LAST_NAME}}" placeholder="Last Name" name="last_name"
            required />
        <label for="floatingPassword">Last Name</label>
    </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingPassword" value="{{this.PHONE_NUMBER}}" placeholder="Phone Number" name="phone_number"
            required />
        <label for="floatingPassword">Phone Number</label>
    </div>

    <button class="btn btn-primary mb-3" type="submit">Submit</button>
