<div>
    <div class="card-body mb-5 text-white bg-secondary">
        <h5 class="card-title">CUSTOMERS</h5>
        <p class="card-text">
            Manage, edit, add and delete customers data.
        </p>
        <a href="/customer" class="btn btn-primary btn-sm">Manage</a>
        <a href="/addCustomer" class="btn btn-primary btn-sm">Add</a>

    </div>

    <div class="card-body mb-5 text-white bg-secondary">
        <h5 class="card-title">PRODUCTS</h5>
        <p class="card-text">
            Manage, edit, add and delete product data.
        </p>
        <a href="/product" class="btn btn-primary btn-sm">Manage</a>
        <a href="/addProduct" class="btn btn-primary btn-sm">Add</a>
    </div>


    <div class="card-body mb-5 text-white bg-secondary">
        <h5 class="card-title">SALE RECORDS</h5>
        
        <p class="card-text">
            Pull sale records for a period of time.
        </p>
        <a href="/saleReportDaily" class="btn btn-primary btn-sm">Daily</a>
        <a href="/saleReportWeekly" class="btn btn-primary btn-sm">Weekly</a>
    </div>
</div>