
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Total Sale</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{this.currentDate}}</th>
      <td>{{sale.[0].TOTAL_SALE}}</td>
    </tr>   
  </tbody>
</table>